<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/lib/layui-v2.8.4/layui/css/layui.css">
    <script src="/static/lib/layui-v2.8.4/layui/layui.js"></script>
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/axios/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

</head>

<body>
    <ul class="layui-nav" style="position: absolute; background: transparent; width: 100%;">
        <li class="layui-nav-item" style="float: right;">
            <a style="user-select: none;"><img class="layui-nav-img" draggable="false"><b><span
                        id="name">我</span></b></a>
            <dl class="layui-nav-child">
                <dd class="user-item" lay-on="page"><a draggable="false">个人信息</a></dd>
                <dd class="user-item" lay-on="updpwd"><a draggable="false">密码修改</a></dd>
                <dd class="user-item" lay-on="showapi"><a draggable="false">API查看</a></dd>
                <dd class="user-item"><a draggable="false">注销</a></dd>
            </dl>
        </li>
    </ul>
    <form class="layui-form layui-form-pane" id="selfinfo" style="display: none;">
        <div class="layui-form-item">
            <label class="layui-form-label">头像链接</label>
            <div class="layui-input-block">
                <input type="text" name="img" id="img" lay-verify="required" placeholder="请输入" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" id="nickname" placeholder="请输入"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" id="username" placeholder="请输入"
                    autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" id="email" placeholder="请输入" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="text" name="isadmin" id="isadmin" placeholder="请输入"
                    autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">秘钥</label>
            <div class="layui-input-block">
                <input type="text" name="key" id="key" placeholder="请输入" autocomplete="off"
                    class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">个人简介</label>
            <div class="layui-input-block">
                <input type="text" name="description" id="description" placeholder="请输入"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-filter="demo1">保存</button>
            </div>
        </div>
    </form>
    <div class="yiyan">
        <p id="quoteText"> <span class="cursor">_</span></p>
    </div>
    <div class="api"></div>
    <div class="footer">
        <span>Copyright © gwt 2023.06</span>
        <span title="卫龙的Github"><a href="https://github.com/gwt805/" target="_blank"><img src="/static/img/github4.svg"
                    draggable="false"></a></span>
        <span title="卫龙的博客园"><a href="https://www.cnblogs.com/taotao0805/" target="_blank"><img
                    src="/static/img/bky.png" draggable="false" style="width: 28px;"></a></span>
    </div>
    <span class="js-cursor-container"></span>
</body>
<script src="/static/js/disable.js"></script>
<script src="/static/js/mouse.js"></script>
<script src="/static/js/mouseclick.js"></script>
<script src="/static/js/zhizhu.js"></script>
<script src="/static/js/word.js"></script>
<script>
    const layer = layui.layer;
    const util = layui.util;
    util.on('lay-on', {
        page: function () {
            username = window.localStorage.getItem('username');
            axios.get('/api/userinfo/' + username)
                .then(function (res) {
                    console.log(res);
                    $("#img").val(res.data.data.img);
                    $("#nickname").val(res.data.data.nickname);
                    $("#username").val(res.data.data.username);
                    $("#isadmin").val(res.data.data.isadmin==0? "群众":"管理员");
                    $("#email").val(res.data.data.email);
                    $("#key").val(res.data.data.key);
                    $("#description").val(res.data.data.description);
                })
                .catch(function (error) {
                    console.log(error)
                });
            layer.open({
                title: '个人信息',
                type: 1,
                resize: false,
                btn: ['提交', '取消'],
                area: ['420px', '475px'], // 宽高
                btn1: (index, layer)=>{
                    alert('提交')
                },
                btn2: (index, layer)=>{
                    alert('取消')
                },
                content: $("#selfinfo"),
                cancel: function (index, layero) {
                    $("#selfinfo").css('display', 'none');
                    layer.close(index);
                }
            });
        }
    });
    if (window.localStorage.getItem("img") == "null") {
        $(".layui-nav-img").attr("src", "https://ts1.cn.mm.bing.net/th/id/R-C.baf1102a1c94fad4a9837bc2e2db7956?rik=%2buwHPijDO%2b7f5g&riu=http%3a%2f%2fpic.616pic.com%2fys_img%2f00%2f04%2f60%2fDToXBfxigM.jpg&ehk=3gQ8Wj0s9rpKggKxB6vQl5TT8e95VK%2b0E%2fxKYZFV6Yg%3d&risl=&pid=ImgRaw&r=0");
    }
    else {
        $(".layui-nav-img").attr("src", window.localStorage.getItem("img"));
    }

    $(document).ready(() => {
        axios.get('https://saying.api.azwcl.com/saying/get')
            .then(function (res) {
                if (res.data.code == 200) {
                    printword([res.data.data.content]);
                }
                else {
                    printword(["世界上没有比结实的肌肉和新鲜的皮肤更加美丽的衣裳。"]);
                }
            })
            .catch(function (error) {
                console.log(error)
            });
    })
</script>

</html>