<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon" />
  <link href="/static/css/login.css" rel="stylesheet" type="text/css">
  <title>注册</title>
</head>

<body oncontextmenu="return false" onselectstart="return false" oncopy="return false">
  <div class="login-box" id="demo">
    <div class="input-content">
      <div class="login_tit">
        <div>
          <i class="tit-bg left"></i>
          Everyday · Program
          <i class="tit-bg right"></i>
        </div>
        <p>Program&nbsp;&nbsp;&nbsp;&nbsp;Everyday</p>
      </div>
      <p class="p user_icon">
        <input type="text" placeholder="昵称" autocomplete="off" class="login_txtbx" id="nickname">
      </p>
      <p class="p user_icon">
        <input type="text" placeholder="账号" autocomplete="off" class="login_txtbx" id="user">
      </p>
      <p class="p email_icon">
        <input type="email" placeholder="邮箱" autocomplete="off" class="login_txtbx" id="email">
      </p>
      <p class="p pwd_icon">
        <input type="password" placeholder="密码" autocomplete="off" class="login_txtbx" id="pwd">
      </p>
      <p class="p pwd_icon">
        <input type="password" placeholder="确认密码" autocomplete="off" class="login_txtbx" id="pwd2">
        <span id="error"></span>
      </p>
      <div class="signup">
        <a class="gv" onclick="regist()">注&nbsp;&nbsp;册</a>
        <a class="gv" href="/login">返&nbsp;&nbsp;回</a>
      </div>
    </div>
    <div class="canvaszz"> </div>
    <canvas id="canvas"></canvas>
  </div>
</body>
<script type="text/javascript" src="/static/lib/jquery/jquery-3.7.0.min.js"></script>
  <script src="/static/js/login_canvas.js"></script>
  <script src="/static/js/disable_login.js"></script>
  <script src="/static/lib/axios/axios.min.js"></script>
  <script>
    function regist() {
      let reg_email = /^[a-zA-Z0-9]+([-_.][A-Za-zd]+)*@([a-zA-Z0-9]+[-.])+[A-Za-zd]{2,5}$/;
      let reg_email_res = reg_email.test($("#email").val());

      if ($("#nickname").val().length>64) {
        $("#error").html("长度为 1 ~ 20!");
      }
      else if (reg_email_res == false) {
        $("#error").html("请填写正确的公司邮箱!");
      }
      else if ($("#pwd").val() != $("#pwd2").val()) {
        $("#error").html("两个密码填写的不一样喔!");
      }
      else if ($("#user").val() == "" || $("#pwd").val() == "" || $("#nickname").val() == "" || $("#emal").val() == "" || $("#pwd2").val() == "") {
        $("#error").html("不允许有空值喔!");
      }
      else {
        axios.post('/api/register', {
          nickname: $("#nickname").val(),
          username: $("#user").val(),
          password: $("#pwd").val(),
          email: $("#email").val(),
        })
        .then(function (res) {
          console.log(res);
          if(res.data.code == 0){
            window.location.href = "/login";
          }
          else {
            $("#error").html(res.data.msg);
            $("#nickname").val("");
            $("#user").val("");
            $("#pwd").val("");
            $("#email").val("");
          }
        })
        .catch(function (error) {
          console.log(error)
        });
      }
    }
  </script>
</html>